{% extends 'main/layout.html' %}

{% block title %}Регистрация номера{% endblock %}

{% block content %}
  <div class="registration-card">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Регистрация номера</h2>
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            {{ form.room_type.label_tag }}
            {{ form.room_type }}
          </div>
          <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
          </div>
          <div class="mb-3">
            {{ form.beds_counter.label_tag }}
            {{ form.beds_counter }}
          </div>
          <div class="mb-3">
            {{ form.number_room.label_tag }}
            {{ form.number_room }}
          </div>
          <div class="mb-3">
            {{ form.level.label_tag }}
            {{ form.level }}
          </div>
          <div class="mb-3">
            {{ form.photos.label_tag }}
            {{ form.photos }}
          </div>
          <div class="mb-3">
            {{ form.price_per_night.label_tag }}
            {{ form.price_per_night }}
          </div>
          <button type="submit" class="btn btn-primary">Зарегистрировать комнату</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}