{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению отеля{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению отеля</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.location }}<br>
            {{ form.description }}<br>
            {{ form.rating }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить отель</button>
        </form>
    </div>
{% endblock %}


