{% extends 'main/layout.html' %}

{% block title %}Список отелей{% endblock %}

{% block content %}
    <div class="features">
        <h1>Список отелей</h1>
        {% if hotels %}
            {% for el in hotels %}
                <div class="alert alert-danger">
                    <h3>{{ el.name }}</h3>
                    <p>{{ el.location }}</p>
                    <a href="{% url 'hotel-detail' el.id %}" class="btn btn-info">Подробное описание</a>
                </div>
            {% endfor %}
        {% else %}
            <p>К сожелению, отелей в выбраном вами месте, пока что нету, либо они еще не зарегистрированы у нас в приложении</p>
        {% endif %}
    </div>
{% endblock %}


