{% extends 'main/layout.html' %}

{% block title %}
  {% if hotel %}
    {{ hotel.name }} - Подробное описание
  {% endif %}
{% endblock %}

{% block content %}
  <div class="hotel-details">
    <div class="row">
      <div class="col-md-6">
        {% if hotel %}
          <h1 class="text-center">{{ hotel.name }}</h1>
          <img src="{{ hotel.photos.url }}" class="img-fluid" alt="{{ hotel.name }}">
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if hotel %}
          <p>{{ hotel.description }}</p>
          <p>Удобства: {{ hotel.amenities }}</p>
          <p>Адрес: {{ hotel.location }}</p>
        {% endif %}
        <p>Средний рейтинг: {{ hotel.average_rating }} ({{ hotel.reviews.count }} отзывов)</p>
          <a href="{% url 'room-list' pk=hotel.id %}" class="btn btn-info">Посмотреть комнаты</a>
        <div class="contact-info">
          <p>Контактная информация:</p>
          <p>Телефон: {{ hotel.phone }}</p>
          <p>Email: {{ hotel.email }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


