{% extends 'main/layout.html' %}

{% block title %}
  {% if hotel %}
    {{ hotel.name }} - {% if request.resolver_match.url_name == 'hotel-add' %}Добавление{% else %}Редактирование{% endif %}
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="text-center">
    {% if request.resolver_match.url_name == 'hotel-add' %}Добавление{% else %}Редактирование{% endif %} отеля
  </h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% if request.resolver_match.url_name == 'hotel-add' %}Добавить{% else %}Сохранить{% endif %}</button>
  </form>
  <a href="{% url 'hotel-list' %}">Назад к списку отелей</a>
{% endblock %}