{% extends 'main/layout.html' %}

{% block title %}Управление бронированиями{% endblock %}

{% block content %}
  <h2 class="text-white">Управление бронированиями</h2>
  {% if user_bookings %}
    <ul>
      {% for booking in user_bookings %}
        <p class="text-white">
          Ваше бронирование в отеле {{ booking.room.hotel.name }} в комнате №{{ booking.room.number }} с {{ booking.check_in_date }} до {{ booking.check_out_date }} - {{ booking.status }}
          {% if booking.status == 'on_review' %}
              <a href="{% url 'cancel-booking' booking.id %}" class="text-white">Отказаться от бронирования</a>
          {% endif %}
      </p>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-white">У вас нет активных бронирований.</p>
  {% endif %}
{% endblock %}