{% extends 'main/layout.html' %}

{% block title %}Управление бронированиями{% endblock %}

{% block content %}
    <h2>Управление бронированиями</h2>
    <h3>Мои бронирования</h3>
    <ul>
        {% for booking in bookings %}
            <li>{{ booking }}</li>
        {% endfor %}
    </ul>

    <h3>Добавить новое бронирование</h3>
    <form method="post" action="{% url 'manage-bookings' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Забронировать</button>
    </form>
{% endblock %}