{% extends 'main/layout.html' %}

{% block title %}Текущие и предстоящие бронирования{% endblock %}

{% block content %}
  <h1 class="text-center">Текущие и предстоящие бронирования</h1>
  <ul>
    {% for reservation in reservations %}
      <li>{{ reservation.room.room_type }}: {{ reservation.check_in_date }} - {{ reservation.check_out_date }}</li>
    {% empty %}
      <p>Нет текущих и предстоящих бронирований.</p>
    {% endfor %}
  </ul>
  <a href="{% url 'hotel-list' %}">Назад к списку отелей</a>
{% endblock %}