{% extends 'main/layout.html' %}

{% block title %}{{ room.room_type }} в отеле {{ room.hotel.name }}{% endblock %}

{% block content %}
    <div class="room-details">
        <div class="row">
            <div class="col-md-6">
                {% if room %}
                    <h1 class="text-center">{{ room.room_type }} в отеле {{ room.hotel.name }}</h1>
                    <img src="{{ room.photos.url }}" class="img-fluid" alt="{{ room.room_type }}">
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if room %}
                    <p>Цена за ночь: ${{ room.price_per_night }}</p>
                    <p>Доступность: {% if room.available %}Доступна{% else %}Занята{% endif %}</p>
                    <p>Описание: {{ room.description }}</p>
                    <a href="{% url 'book-room' pk=room.hotel.pk room_id=room.pk %}" class="btn btn-success">Забронировать</a>
                    <div class="contact-info">
                        <p>Контактная информация:</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}