{% extends 'main/layout.html' %}

{% block title %}Список доступных комнат{% endblock %}

{% block content %}
    <div class="features">
        <h1>Список свободных комнат в отеле {{ hotel.name }}</h1>
        {% if rooms %}
            {% for room in rooms %}
                <div class="alert alert-danger">
                    <h3>{{ room.room_type }}</h3>
                    <p>Цена за ночь: ${{ room.price_per_night }}</p>
                    <a href="{% url 'room-detail' pk=room.hotel.pk room_id=room.pk %}" class="btn btn-info">Подробное описание</a>
                </div>
            {% endfor %}
        {% else %}
            <p>К сожалению, нет свободных комнат</p>
        {% endif %}
    </div>
{% endblock %}