{% extends 'main/layout.html' %}

{% block title %}{{ hotel.name }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ hotel.name }}</h1>
        <p>{{ hotel.rating }}</p>
        <p>{{ hotel.room_type }}</p>
        {% for room in rooms %}
            <a href="{% url 'hotels' pk=room.id %}" class="btn btn-info">Все комнаты</a>
<!--            <a href="{% url 'booking' pk=room.id %}" class="btn btn-info">Забронировать</a>-->
        {% endfor %}
    </div>
{% endblock %}
